################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/WebApplication1/bin
/WebApplication1/obj/Debug
